* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Annie Use Your Telescope', cursive;
}

.background {
    background-color: black;
    width: 100%;
    height: 100%;
}

.menu_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.title {
    color: #ff4d00;
    margin: 20px;
    font-size: 80px;
    text-decoration: none;
}

audio {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    background-color: #ff4d00;
}

.deckUn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #fff;
    width: 15%;
    height: 30%;
    background-color: saddlebrown;
    font-size: 30px;
}

.cimetiereUn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 22%;
    color: #fff;
    width: 15%;
    height: 30%;
    background-color: saddlebrown;
    opacity: 20%;
    font-size: 30px;
}

.deckDeux {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 5%;
    color: #fff;
    width: 15%;
    height: 20%;
    background-color: saddlebrown;
    font-size: 30px;
}

.cimetiereDeux {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 22%;
    color: #fff;
    width: 15%;
    height: 20%;
    background-color: saddlebrown;
    opacity: 20%;
    font-size: 30px;
}

.land {
    width: 40%;
    height: 30%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}

.randomOne, .randomTwo, .randomTree {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomOne {
    background-color: #ff4d00;
}

.randomTwo {
    background-color: #ff4e75;
}

.randomTree {
    background-color: blue;
}

.main {
    background-color: darkgrey;
    width: 70%;
    height: 400px;
    position: absolute;
    bottom: 50px;
    left: 5%;
    display: flex;
    flex-direction: row;
}

.carteOne, .carteTwo, .carteTree {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    margin: 0 0.5em;
    width: 33.33%;
}

.carteOne {
    background-color: #ff4d00;
}

.carteTwo {
    background-color: #ff4e75;
}

.carteTree {
    background-color: blue;
}

/*ai main*/

  .mainAi {
    background-color: darkgrey;
    width: 50%;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 7%;
    display: flex;
    flex-direction: row;
}

.carteAiOne, .carteAiTwo, .carteAiTree {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    margin: 0 0.5em;
    width: 33.33%;
}

.carteAiOne {
    background-color: #ff4d00;
}

.carteAiTwo {
    background-color: #ff4e75;
}

.carteAiTree {
    background-color: blue;
}

/* deux joueurs */

.landMulti {
    height: 30%;
    width: 50%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}

.randomOneMulti, .randomTwoMulti, .randomTreeMulti {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomOneMulti {
    background-color: #ff4d00;
}

.randomTwoMulti {
    background-color: #ff4e75;
}

.randomTreeMulti {
    background-color: blue;
}

.mainJoueurOneMulti {
    width: 45%;
    height: 25%;
    position: absolute;
    bottom: 40%;
    left: 3%;
    display: flex;
    flex-direction: row;
}

.carteJoueurOneMulti, .carteJoueurTwoMulti, .carteJoueurTreeMulti {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    width: 33.33%;
}

.carteJoueurOneMulti {
    background-color: #ff4d00;
}

.carteJoueurTwoMulti {
    background-color: #ff4e75;
}

.carteJoueurTreeMulti {
    background-color: blue;
}

/*ai main*/

.mainJoueurDeuxMulti {
    width: 45%;
    height: 25%;
    position: absolute;
    bottom: 40%;
    right: 3%;
    display: flex;
    flex-direction: row;
}

.carteJoueurOneMulti, .carteJoueurTwoMulti, .carteJoueurTree {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    width: 33.33%;
}

.cartJoueuriOne {
    background-color: #ff4d00;
}

.carteJoueurTwo {
    background-color: #ff4e75;
}

.carteJoueurTree {
    background-color: blue;
}