{% extends "layout.html.twig" %}


    {% block body %}
        <div class="containerBody">

        {% block lands %}
            <div class="containerLands">

            </div>
        {% endblock %}

        {% block landbackground %}
            <div class="containerLandBackground">

            </div>
        {% endblock %}

        {% block deckplayerone %}
            <div class="containerDeckPlayerOne">

            </div>
        {% endblock %}

        {% block deckplayertwo %}
            <div class="containerDeckPlayerTwo">

            </div>
        {% endblock %}

        {% block cimeteryplayerone %}
            <div class="containerCimeteryPlayerOne">

            </div>
        {% endblock %}

        {% block cimeteryplayertwo %}
            <div class="containerCimeteryPlayerTwo">

            </div>
        {% endblock %}

        {% block mainplayerone %}
            <div class="containerMainPlayerOne">

            </div>
        {% endblock %}

        {% block mainplayertwo %}
            <div class="containerMainPlayerTwo">

            </div>
        {% endblock %}
        
        </div>        
    {% endblock %}
