{% extends "layout.html.twig" %}

{% block body %}
    {% block accueil %}
        <audio controls preload="auto" autoplay>
            <source src="sound/soundHackathon.mp3" type="audio/mpeg">
        </audio>
        <div class="background"></div>
        <div class="menu_title">
            <a href="{{'../src/view/soloPlayeurView.html.twig'}}" class="title">Jouer en solo</a>
            <a href="{{'../src/view/multiPlayeur.html.twig'}}" class="title">Jouer à deux</a>
        </div>
    {% endblock %}
{% endblock %}