<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/style2.css">
    <title>Document</title>
</head>
<body>
    {% block body %}
        {% block lands %}
        {% endblock %}

        {% block landbackground %}
        {% endblock %}

        {% block deckplayerone %}
        {% endblock %}

        {% block deckplayertwo %}
        {% endblock %}

        {% block cimeteryplayerone %}
        {% endblock %}

        {% block cimeteryplayertwo %}
        {% endblock %}

        {% block mainplayeron %}
        {% endblock %}

        {% block mainplayertwo %}
        {% endblock %}
        
    {% endblock %}
</body>
</html>